.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.inner {
  position: relative;
  left: 25px;
}

button {
  background: transparent;
  color: white;
  border: 0;
}

p {
  font-size: small;
  margin: 2px;
}